.footer {
  &__navigation {
    grid-area: footer-info;
    display: flex;
    flex-direction: column;
  }
  &__address {
    grid-area: footer-address;
  }
  &__icons {
    grid-area: footer-icons;

    .logo__footer {
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem;
    }
    .social-icon {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}
