.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  flex: 1 1 33%;
  text-decoration: none;
  color: $global-color;
  padding: 2rem 1rem;
  border: 2px solid map-get($tints-colors, red-900);
  border-radius: 1rem;
  transition: transform 0.5s ease-out;
  &:hover {
    // transform: scale(1.02);
    background-color: map-get($tints-colors, red-50);
    box-shadow: $global-box-shadow-2;
    .card__image {
      // TODO add transition when removing the cursor
      transform: scale(1.02);
    }
  }
  &:active {
    transform: scale(95%);
  }
  &__image {
    border-radius: 1rem;
    transition: all 0.5s ease-out;
    & > img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
    &--small {
    }
  }
  &__title {
    &--small {
    }
  }
  &__annotation {
    &--small {
    }
  }
}
