.donate {
  &__left,
  &__right {
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      a {
        color: $red;
        &:hover {
          color: map-get($tints-colors, tertiary-300);
        }
      }
    }
    img {
      max-height: 15rem;
      object-fit: contain;
    }
  }
  &__left {
  }
  &__right {
  }
}
