.layout {
  width: 100%;
  flex-grow: 1;
  &__inner {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    @include breakpoint(xxlarge) {
      width: 50rem;
    }
  }
  &__project {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 2rem;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }
  &__article {
    display: grid;
    gap: 2rem;
    @media (max-width: 724px) {
      grid-template-areas:
        "header-title"
        "header-main-img"
        "header-body";
    }
    @include breakpoint(medium) {
      grid-template-areas:
        "header-main-img "
        "header-title "
        "header-body ";
    }
  }
  &__cards {
    padding: 2rem 0;
    background-color: map-get($main-colors, tertiary);
  }
  &__navigation {
    padding: 0 1rem;
  }
  &__footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
    gap: 1rem;
    grid-template-areas:
      "footer-info"
      "footer-address"
      "footer-icons";
    @include breakpoint(small) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "footer-info footer-address ... footer-icons";
    }
  }
}
