.article {
    &-container {
        color: #fff;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        z-index: 1;
        height: 600px;
        width: 100%;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 24px;
        
        .about-section {
            &-one {
                display: grid;
                grid-template-columns: 1fr;
                @media screen and (min-width: 480px) {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 10px;
                }
                &--left, &--right {
                    color: black;
                    img {
                        max-height: 350px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &--right {

                }

            }
            &-two {}
            &-three {}
        }
    }
    
}

.article-bg {
    object-fit: cover;
    object-position: top;
    max-height: 450px;
    width: 100%;
    height: auto;
    filter: brightness(0.7);

}
.article-title > span {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 15px;
    border-radius: 3px;
}
.article-title {
    color: #fff;
    font-size: 36px;
    margin: 20px 0;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: .2rem;
}


@media screen and (max-width: 480px) {
    .article-bg {
        display: none;
        width: 100%;
        height: auto;
    }
    .article-title {
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .article-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    .article-bg {
        object-position: 50% 31%;

    }
}