@import "./IntroElement.scss";

.intro-values {
  &__container {
  }
  &__wrapper {
    @extend .intro__wrapper;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10vw;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__column {
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-areas:
        "img title"
        "img description";
      grid-template-columns: 1fr 2fr;
    }
  }
  &__img {
    grid-area: img;
    max-width: 100px;
    align-self: center;
    @media screen and (min-width: 768px) {
      max-width: 150px;
      margin: 0 auto;
    }
  }
  &__title {
    grid-area: title;
    @media screen and (max-width: 768px) {
      .h3 {
        padding: 1rem 0;
      }
    }
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  &__description {
    grid-area: description;
  }
}
