.intro {
  &__wrapper {
    display: flex;
    z-index: 1;
    // height: 600px;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--grid {
      display: grid;
      grid-template-columns: 1fr;
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    &--reverse {
      display: grid;
      grid-template-columns: 1fr;
      .column-text {
        margin-bottom: 15px;
        padding: 0 15px;
        width: 100%;
      }

      .column-img {
        display: none;
      }
      @media screen and (min-width: 768px) {
        gap: 5vh;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        .column-text {
          order: 2;
        }
        .column-img {
          display: block;
          order: 1;
        }
      }
    }
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5vh;
      justify-self: center;
      .column-img {
        display: block;
        margin-bottom: 15px;
        padding: 0 15px;
        width: 100%;
      }
    }
  }
}
